@tailwind base;
@tailwind components;
@tailwind utilities;




.todoAp::-webkit-scrollbar{
    width: 0;
    
}


.nav li:hover{
    /* color: #ff7f51; */
    color: #00b4d8;
}

/* .header{
    background: rgba(255, 255, 255, 0.5); 
    backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.18); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
} */

.container{
    background: rgba(255, 255, 255, 0.0999); /* Semi-transparent background */
    backdrop-filter: blur(5px); /* Blur effect */
    border: 1px solid rgba(255, 255, 255, 0.18); /* Light border */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    border-radius: 10px; /* Rounded corners for smoother edges */
}

.main_container{
    background: url("../public/jungle.jpg");
    background-position: center;
    background-size: cover;
}


/* //media query for mobile view  for 300px width to 600px */

@media screen and (max-width: 500px) {
    .nav{
        width: 100vw;
        margin: 0;
        padding: 0;
    }
    
    .logofoot h1{
        font-size: 12px;
    }

    .logo h1{
        font-size: 20px;
    }
    
    ul li{
        font-size: 12px;
        padding: 5px !important;
        
    }
}


